* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.header, .container, .columns {
    width: 100%;
    max-width: 600px;
}

.header {
    display: flex;
    align-items: center;
    background-color: #8B4F45;
    color: white;
    width: 100%;
    padding: 10px;
    height: 40px;
}

.logo {
    font-size: 12px;
    font-weight: bold;
    flex: 1;
    text-align: center;
    background-color: white;
    color: black;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav {
    background-color: #8B4F45;
    padding: 10px;
    color: white;
    text-align: center;
    flex: 3;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    width: 100%;
    gap: 5px;
    margin-top: 5px;
}

#main {
    background-color: #8B4F45;
    padding: 10px;
    color: white;
    text-align: center;
    flex: 3;
    height: 150px;
}

#aside {
    background-color: #8B4F45;
    padding: 10px;
    color: white;
    text-align: center;
    flex: 1;
    height: 150px;
}

.columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: 100%;
    margin-top: 5px;
}

.column {
    background-color: #8B4F45;
    color: white;
    text-align: center;
    padding: 10px;
    height: 75px;
}

@media (max-width: 767px) {
    .header {
        flex-direction: column;
        height: auto;
    }

    .logo, #nav {
        flex: none;
        width: 100%;
        height: 30px;
    }

    .container {
        flex-direction: column;
    }

    #main, #aside {
        width: 100%;
        height: 100px;
    }

    .columns {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .container {
        flex-direction: column;
    }

    #main {
        flex: 1;
    }
}
